<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="defaultConnectionString" connectionString="Server=localhost; Port=3306; charset=cp1250; Database=User; Uid=root" providerName="MySql.Data.MySqlClient" />
		<add name="usersConnectionString" connectionString="Server=localhost; Port=3306; charset=cp1250; Database=User; Uid=root " providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<!--Način autentifikacije-->
		<authentication mode="Forms">
			<!-- mode=[Windows|Forms|Passport|None] -->
			<forms loginUrl="Login.aspx" cookieless="AutoDetect" />
		</authentication>
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
	<!--Role-->
	<!--Administrator-->
	<location path="Forme/Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--Profesor-->
	<location path="Forme/Prof">
		<system.web>
			<authorization>
				<allow roles="Prof" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--Običan korisnik-->
	<location path="Forme/User">
		<system.web>
			<authorization>
				<allow roles="User, Prof, Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.7.0" newVersion="1.4.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
